extends layout 
block head 
    link(rel="stylesheet", href="/stylesheets/category_detail.css")
    <script src="https://kit.fontawesome.com/abb39a57a2.js" crossorigin="anonymous"></script>
block content 
    h1(class="category" data-catid=`${category._id}`) #{category.name} 
    table
        thead 
            tr 
                th Item name 
                th Price 
                th Update 
                th Delete
        tbody 
            each item in items
                tr 
                    td #{item.itemName}
                    td #{item.price}
                    td
                        //- Update iten details 
                        a( href=`/categories/${category._id}/update/${item._id}` class="updatebtn" data-updateid=`${item._id}`) 
                            i(class="fas fa-edit")
                    td
                        //- Delete item from database
                        a(class="trashcan" data-test=`${item._id}`)
                            i(class="fas fa-trash") 
    script.
         const category = document.querySelector('.category');
         const trashcan = document.querySelector('.trashcan');
         const updateBtn = document.querySelector('.updatebtn');

        //-DElETE   
         if(trashcan != undefined){
             trashcan.addEventListener("click", (e)=>{
             const endpoint = `/categoryDetail/${category.dataset.catid}`
            fetch(endpoint, {
                method:'DELETE',
                headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({id:`${trashcan.dataset.test}`})
            })
                .then((res)=> res.json())
                .then((data)=> window.location.href = data.redirect)
                .catch((err)=> console.log(err));
            })
         }
         
         